In [2]:
import pandas
print(pandas.__version__)

2.1.4

In [3]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\amel sghairi\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\amel sghairi\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\amel sghairi\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\amel sghairi\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\amel sghairi\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\amel sghairi\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [4]:
import pandas as pd
df = pd.read_csv("employer.csv")
df

  Niveau d'éducation Secteur d'emploi  Âge  Genre Classe (Employé/Non Employé)
0                Bac           Public   35  Homme                      Employé
1             Master            Privé   45  Femme                      Employé
2            Licence           Public   29  Femme                  Non Employé
3                Bac            Privé   22  Homme                  Non Employé
4            Licence           Public   40  Femme                      Employé
5             Master            Privé   31  Homme                      Employé
6                Bac           Public   50  Femme                  Non Employé
7           Doctorat            Privé   34  Homme                      Employé

In [5]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\amel sghairi\anaconda3\lib\site-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\amel sghairi\anaconda3\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.3.2 in c:\users\amel sghairi\anaconda3\lib\site-packages (from scikit-learn) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in c:\users\amel sghairi\anaconda3\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\amel sghairi\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)

In [6]:
from sklearn.preprocessing import LabelEncoder
df = pd.read_csv("employer.csv")
le = LabelEncoder()
df["Niveau d'éducation"] = le.fit_transform(df["Niveau d'éducation"])
df["Secteur d'emploi"] = le.fit_transform(df["Secteur d'emploi"])
df["Genre"] = le.fit_transform(df["Genre"])

df

,Niveau d'éducation,Secteur d'emploi,Âge,Genre,Classe (Employé/Non Employé)
0,0,1,35,1,Employé
1,3,0,45,0,Employé
2,2,1,29,0,Non Employé
3,0,0,22,1,Non Employé
4,2,1,40,0,Employé
5,3,0,31,1,Employé
6,0,1,50,0,Non Employé
7,1,0,34,1,Employé

In [43]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\amel sghairi\anaconda3\lib\site-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\amel sghairi\anaconda3\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.3.2 in c:\users\amel sghairi\anaconda3\lib\site-packages (from scikit-learn) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in c:\users\amel sghairi\anaconda3\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\amel sghairi\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)

In [8]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df["Âge"] = scaler.fit_transform(df[["Âge"]])
df

,Niveau d'éducation,Secteur d'emploi,Âge,Genre,Classe (Employé/Non Employé)
0,0,1,0.464286,1,Employé
1,3,0,0.821429,0,Employé
2,2,1,0.250000,0,Non Employé
3,0,0,0.000000,1,Non Employé
4,2,1,0.642857,0,Employé
5,3,0,0.321429,1,Employé
6,0,1,1.000000,0,Non Employé
7,1,0,0.428571,1,Employé

In [ ]:
!pip install scikit-learn

In [9]:
X = list(zip(df["Niveau d'éducation"], df["Secteur d'emploi"], df["Âge"], df["Genre"]))
y=df["Classe (Employé/Non Employé)"]

In [10]:
from sklearn.neighbors import KNeighborsClassifier
# Initialiser et entraîner le classificateur KNN
neigh = KNeighborsClassifier(n_neighbors=3)
neigh.fit(X, y)

KNeighborsClassifier(n_neighbors=3)

In [11]:
test = [[0,1,0.464286,1]]
p=neigh.predict(test)
print(p)

['Non Employé']